/* styles.css */
#review-all-button {
    background-color: #4CAF50; /* 绿色 */
    color: white;
}
#review-last-time-button {
    background-color: #f44336; /* 红色 */
    color: white;
}
#review-today-button {
    background-color: #008CBA; /* 蓝色 */
    color: white;
}
#start-review-button {
    background-color: #e7e7e7; /* 灰色 */
    color: black;
}
#show-answer-button {
    background-color: #555555; /* 深灰色 */
    color: white;
}
#right-button {
    background-color: #4CAF50; /* 绿色 */
    color: white;
}
#wrong-button {
    background-color: #f44336; /* 红色 */
    color: white;
}
#update-progress-button {
    background-color: #008CBA; /* 蓝色 */
    color: white;
}